.shippingBanner {
  background-color: #fff3cd;
  color: #856404;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.9em;
  border-bottom: 1px solid #ffeeba;
  position: sticky;
  top: 80px; /* Ajustado para aparecer debajo de la navbar */
  z-index: 999; /* Un z-index menor que la navbar para evitar conflictos */
}

.shippingBanner p {
  margin: 0;
  line-height: 1.4;
}
